.block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-right: 30%;
  @media (max-width: 1300px) {
    margin-right: 20%;
  }
  @media (max-width: 740px) {
    margin-right: 50%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .img {
    width: 76px;
  }

  .title {
    color: #808080;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
  }
}